
$aside-color:#F8F8F8;
$main-color:#E9E8EC;
$nav-color:#F8F8F8;
$card-color:#F8F8F8;
$dune:#242221;
$white:#ffff;
$hover-color:#c7ab8e; 


$font-regular: 400;
$font-medium: 500;
$font-bold: 700;




// MOBİLE VARIABLES
$phone:460;
$tablet:768;
$large: 1024;
$desktop: 1280;